.bg-color-light {
    background-color: #f7f7f7;
}

/*----------------------------
         Card Custom Styles 
------------------------------*/
.fixed-height {
    min-height: 9rem;
}

.text-color-light {
    color: #9c9a9a;
}

.card-persona img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

#carouselExampleIndicators .carousel-indicators button.active {background-color: blue;}
#carouselExampleIndicators .carousel-indicators button {background-color: red;}